@if (evento) {
<div class="card shadow border-0 custom-card">

  <picture>
    <source
      [srcset]="'img/' + (evento.tipo.nombre | lowercase) + ( (evento.idEvento % 3) + 1 ) + '.webp'"
      type="image/webp">

    <img
      [src]="'img/' + (evento.tipo.nombre | lowercase) + ( (evento.idEvento % 3) + 1 ) + '.png'"
      class="imagen-evento"
      [alt]="evento.nombre"
      loading="lazy">
  </picture>

  <div class="card-body d-flex flex-column text-center p-4">
    <h5 class="card-title fw-bold text-uppercase mt-2">{{ evento.nombre }}</h5>
    <p class="card-text text-muted mb-4">{{ evento.fechaInicio }}</p>

    <div class="mt-auto">
      <a [routerLink]="['/detalles', evento.idEvento]" class="btn btn-detalles px-4">
        Detalles
      </a>
    </div>
  </div>

</div>
}
