.custom-card {
    width: 320px;
    height: 500px;

    border-radius: 20px;
    background-color: #fcfcfc;
    transition: transform 0.3s ease;
    margin: 0 auto; /* Esto centra la tarjeta si la pantalla es muy grande */
}

.custom-card:hover {
    transform: translateY(-8px);
}

/* Forzamos a la imagen a medir exactamente la mitad superior de la tarjeta (220px) */
.custom-card-img {
    height: 420px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-detalles {
    background-color: #7b2cbf;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border: none;
}

.btn-detalles:hover {
    background-color: #7b2cbf;
    color: white;
    transform: scale(1.05);
}
