.footer {
  background: linear-gradient(to right, #4b367c, #7b2cbf) !important;
  color: white;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; /* Refuerzo para empujar hacia abajo */
}

.footer-brand {
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
/*.footer {
  color: white;
  padding: 20px 0;
}

.footer h5 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.9;
}

.footer .container {
  max-width: 900px;
}*/
