
  /*CONTENEDOR PRINCIPAL HOME*/

.escaparate-eventos {
    max-width: 1350px;
    margin: 0 auto;
    padding: 3rem 10px; /* padding vertical de 3rem (py-5) y horizontal de 10px */
}

.titulo-destacados {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 3rem;
}

/* ZONA DE TARJETAS */
.cuadricula-destacados {
    justify-content: center;
}

.item-destacado {
    display: flex;
    justify-content: center;
}

/* ESTADO VACÍO (NO HAY RESULTADOS) */
.contenedor-vacio-inicio {
    text-align: center;
    margin-top: 3rem;
}

.texto-vacio-inicio {
    color: #6c757d;
    font-size: 1.5rem;
    margin: 0;
}
