<nav class="navbar navbar-expand-md barra-navegacion-principal">
  <div class="container-fluid">
    <a class="navbar-brand marca-soundstage" routerLink="/">SoundStage</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuPrincipal">
      <ul class="navbar-nav ms-auto grupo-enlaces-navegacion">

        <li class="nav-item">
          <a class="nav-link enlace-menu-blanco" routerLink="/concerts" routerLinkActive="activo">Conciertos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link enlace-menu-blanco" routerLink="/misreservas" routerLinkActive="activo">Mis Reservas</a>
        </li>

        <li class="nav-item">
          @if (authService.isAdmin()) {
            <li class="nav-item">
              <a class="nav-link enlace-menu-blanco" routerLink="/admin/eventos" routerLinkActive="activo">Admin</a>
            </li>
          }
        </li>

        <li class="nav-item">
          @if (!estaLogueado()) {
          <a class="boton-personalizado-identificacion" routerLink="/login">Iniciar sesión</a>
          } @else {
          <button (click)="salir()" class="boton-personalizado-identificacion">Cerrar sesión</button>
          }
        </li>

      </ul>
    </div>
  </div>
</nav>
